<a href="https://colab.research.google.com/github/Akhilvanama136/Fmml_module/blob/main/K_HUB_TASK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

strings

# **DAY1**

In [ ]:
print("akhil")

akhil

multiline strings

In [ ]:
a = '''name college name'''
print(a[1])

a

looping with string

In [ ]:
for y in "banana":
  print(y)

b
a
n
a
n
a

In [ ]:
a = "akhil is the good boy "
print(a)

akhil is the good boy

reverse string

In [ ]:
txt = "akhil"
print(txt[::-1])

lihka

string captiliaze

In [ ]:
txt = "iam a junior developer in khub"
x = txt.upper()
print(x)

IAM A JUNIOR DEVELOPER IN KHUB

string count

In [ ]:
txt = " bikes is my favourite then the cars"
x = txt.count("bikes")
print(x)

1

string find

In [ ]:
txt= "where is my pen "
x=txt.find("pen")
print(x)

12

boolean true or false

In [ ]:
a = 250
b = 300
if b > a:
  print("b is greather than a")
else:
  print("b is not greather than a")

b is greather than a

evaluating values and variables

In [ ]:
print(bool(0))
print(bool(15))

False
True

print x and y in boolean

In [ ]:
x = "helo"
y= 0
print(bool(x))
print(bool(y))

True
False

function can return boolean

In [ ]:
def myFunction() :
  return False
print(myFunction())

False

arthematic operators

In [ ]:
x = 10
y = 290
print(x+y)

300

subtraction

In [ ]:
x = 375
y= 120
print(x-y)

255

multipication

In [ ]:
x = 4500
y= 2500
print(x*y)

11250000

division

In [ ]:
x = 457
y = 230
print (x/y)

1.9869565217391305

modulus

In [ ]:
x = 55
y = 25
print(x%y)

5

floor division

In [ ]:
x= 105
y= 65
print(x//y)

1

iam writing code for equals to +=

In [ ]:
x =5
x += 3
print(x)

8

writing code for -=

In [ ]:
x =10
x -= 15

print(x)

-5

writing code for *=

In [ ]:
x=100
x*=200
print(x)

20000

writing code for /=

In [ ]:
x=20
x/=45
print(x)

0.4444444444444444

writing code for %=

In [ ]:
x=15
x%=45
print(x)

15

writing code for //=

In [ ]:
x= 250
x//=150
print(x)

1

comparision operators writing code for ==

In [ ]:
x=17
y=179
print(x==y)

False

writing code!=

In [ ]:
x=210
y=250
print(x !=y)

True

writing code greater>

In [ ]:
x= 1000
y=200
print(x>y)

True

writing code for <

In [ ]:
x=120
y=200
print(x>y)

False

writing code for >=

In [ ]:
x=210
y=250
print(x>=y)

False

writing code for >=

In [ ]:
x=120
y=200
print(x<=y)

True

logic gate and gate

In [ ]:
x=75
print(x>3 and x< 75)

False

or gate

In [ ]:
x=19
print(x>18 and x<17)

False

not gate

In [ ]:
x = 5

print(not(x > 3 and x < 10))

False

list

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

allowing list duplicates

In [ ]:
thislist=["akhil,aditya,khub,akhil,khub"]
print(thislist)

['akhil,aditya,khub,akhil,khub']

list  datatypes

In [ ]:
list1=["apple","banana","aditya"]
list2=[1,2,3]
list3=[True,False,True]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'aditya']
[1, 2, 3]
[True, False, True]

my list

In [ ]:
mylist=["kiet","kietk",'kiew']
print(type(mylist))

<class 'list'>

list() constructor

In [ ]:
thislist=list(("range rover","suzuki","benz"))
print(thislist)

['range rover', 'suzuki', 'benz']

check list itemms

In [ ]:
thislist=["usa","india","china"]
if "india" in thislist:
  print("Yes, 'india' is in the list")

Yes, 'india' is in the list

change list is also known as the repalcing the variables and numbers

In [ ]:
thislist=["icecream","fruits","chips"]
thislist[1]=["fruits"]
print(thislist)

['icecream', ['fruits'], 'chips']

change list range

In [ ]:
thislist=["icecream","fruits","chips"]
thislist[1:3]=["juice"]
print(thislist)

['icecream', 'juice']

inserting the list is nothingbut we can add the variable or number in the list in any position by using the insert.list

In [ ]:
thislist=[1,2,4]
thislist.insert(2,3)
print(thislist)

[1, 2, 3, 4]

remove list is known as we can remove the variable in number in the list by using the list.remove

In [ ]:
thislist=[1,2,3,4]
thislist.remove(1)
print(thislist)

[2, 3, 4]

loop in list is known as the it give in a line

In [ ]:
thislist=["aditya","akhil","avenger"]
for x in thislist:
  print(x)

aditya
akhil
avenger

using while in looplist

In [ ]:
thislist=["akhil","aditya","avenger"]
i =0
while i < len(thislist):
  print(thislist[i])
  i= i+1

akhil
aditya
avenger

list comprehension is known as the to find the words or numbers in the list by using new list if in range and also to add in the list by using append

In [ ]:
cars=["audi","benz","suzuki","breeza"]
newlist=[]
for x in cars:
  if "a" in x :
    newlist.append(x)
    print(newlist)

['audi']
['audi', 'breeza']

sortlist descending is known as it sets the word or numerals in bigger to small

In [ ]:
thislist=["zebra","apple","yellow","nithin","van"]
thislist.sort(reverse = True)
print(thislist)

['zebra', 'yellow', 'van', 'nithin', 'apple']

list copy method is known as the it copies list variables, numeriacls in the added the list

In [ ]:
thislist=["apple","banana","grapes"]
mylist=thislist.copy()
print (thislist)

['apple', 'banana', 'grapes']

we can also make a copy by using slice operator

In [ ]:
thislist=["aditya","akhil","avenger"]
mylist= thislist[:]
print(thislist)

['aditya', 'akhil', 'avenger']

join list is known as the adding the two list

In [ ]:
list1=["khub","toastmaster","gcc"]
list2=["class1","class2","class3",]
list3=list1+list2
print(list3)

['khub', 'toastmaster', 'gcc', 'class1', 'class2', 'class3']

In [ ]:
list1=["khub","toastmaster","gcc"]
list2=["class1","class2","class3"]
for x in list2:
  list1.append(x)
  print(list1)

['khub', 'toastmaster', 'gcc', 'class1']
['khub', 'toastmaster', 'gcc', 'class1', 'class2']
['khub', 'toastmaster', 'gcc', 'class1', 'class2', 'class3']

list methods in clear to remove the information in list

In [ ]:
cities=["usa","india","china"]
cities.clear()
print(cities)

[]

extend is known as the adding one list to another

In [ ]:
fruits=["apple","banana","grapes"]
cars=["audi","benz","suzuki"]
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'grapes', 'audi', 'benz', 'suzuki']

pop removes the element in the specific position

In [ ]:
fruits=["apple","banana","grapes"]
fruits.pop(1)
print(fruits)

['apple', 'grapes']

creating tuples

In [ ]:
thistuple=("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

creating tuple length it finds in the numerically in lenght

In [ ]:
my_tuple = ("apple","banana","orange")
print(len(my_tuple))

3

tuple data types can be of many types

In [ ]:
tuple1=["parrot","sparrow","peacock"]
tuple2=[1,2,3]
tuple3=[True,False,True]
print(tuple1)
print(tuple2)
print(tuple3)

['parrot', 'sparrow', 'peacock']
[1, 2, 3]
[True, False, True]

tuple constructor is known as the activate another tuple in the tuple

In [ ]:
thistype=(("apple,","banana","cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

we can access tuple items by refering index also

In [ ]:
thistuple=["apple","banana","cherry"]
print(thistuple[1])

banana

updating the tuples into list and then we can convert them into tuple again

In [ ]:
x=["apple","banana","grapes"]
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'grapes')

loop tuples in this we can use for

In [ ]:
thistuple=["apple","banana","grapes"]
for x in thistuple:
  print(x)

apple
banana
grapes

sets sets cannot have two items have duplicate value

In [ ]:
thisset={"apple","banana","cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

set can be any data type

In [ ]:
from os import truncate
set1={"apple","banana","cherry"}
set2={1,2,3}
set3={True,False,True}
print(set1)
print(set2)
print(set3)

{'apple', 'cherry', 'banana'}
{1, 2, 3}
{False, True}

we can remove set by using the discard

In [ ]:
thisset={"usa","india","china"}
thisset.discard("india")
print(thisset)

{'usa', 'china'}

union set returns with all the small set wit new

In [ ]:
set1={"america,","thailand","india"}
set2={1,2,3}
set3=set2.union(set1)
print(set3)

{'america,', 1, 2, 3, 'india', 'thailand'}

set methods that we use can in sets

In [ ]:
cars={"enova","benz","suzuki"}
cars.add('maruti')
print(cars)

{'benz', 'enova', 'suzuki', 'maruti'}

python dictionaries

In [ ]:
car={
    "brand":"ford",
    "MOdel":"mustang",
    "year":"1964",
}
x= car.keys()
print(x)

car["color"]="white"
print(x)

dict_keys(['brand', 'MOdel', 'year'])
dict_keys(['brand', 'MOdel', 'year', 'color'])

changing the dictionaries by using thisdict

In [ ]:
thisdict={
    "brand":"suzuki",
    "model":"ertiga",
    "year":"2018"
}

thisdict["year"]=2015
print(thisdict)

{'brand': 'suzuki', 'model': 'ertiga', 'year': 2015}

updating the values in dictionaries

In [ ]:
thisdict={
    "brand":"benz",
    "model":"xc60",
    "year":"2020",
}
thisdict.update({"Color":"red"})
print(thisdict)

{'brand': 'benz', 'model': 'xc60', 'year': '2020', 'Color': 'red'}

using copy method in dictionaries

In [ ]:
thisdict={
    "brand":"audi",
    "model":"y40",
    "year":"2021"
}
mydict= dict(thisdict)
print(mydict)

{'brand': 'audi', 'model': 'y40', 'year': '2021'}

nexted dictionaries also called also dictionaries

In [ ]:
myfamily = {
  "child1" : {
    "name" : "aditya",
    "year" : 2004
  },
  "child2" : {
    "name" : "akash",
    "year" : 2007
  },
  "child3" : {
    "name" : "pradeep",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'aditya', 'year': 2004}, 'child2': {'name': 'akash', 'year': 2007}, 'child3': {'name': 'pradeep', 'year': 2011}}

dictionary keys it creates keys with the value y values to x

In [ ]:
x = ('key1', 'key2', 'key3')
y = (1, 2, 3)

result = dict(zip(y, x))
print(result)

{1: 'key1', 2: 'key2', 3: 'key3'}

python dictionary update method

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

python elif it tries another condition when previous condition were true

In [ ]:
a = 99
b = 99
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

else condition it is preceding condition it checks the condition and execute

In [ ]:
a = 50
b = 16
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

short hand if else it executes code in one line

In [ ]:
a = 6
b = 240
print("A") if a > b else print("B")

B

And gate condition is used to combine conditional statements

In [ ]:
a = 300
b = 13
c = 470
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

it is logical operator and it is used in combine statements

In [ ]:
a = 100
b = 66
c = 460
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

when if statement is in inside if statements

In [ ]:
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

matchcase statement is used different actions based on it conditions

In [ ]:
day=4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

 using this pip charactercombine values it checks the case value more than one case value

In [ ]:
day = 3
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

**DAY2**

python for loop is used for iterating over a sequence

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

using break statement using in loop break statement we can stop loop before it has looped

In [ ]:
fruits=["apple,","banana","cherry",]
for x in fruits:
  print(x)
  if x=="banana":
    break

apple,
banana

with continue statement we can stop the iteration of the loop

In [ ]:
cars =["bugati","range rover","enova"]
for x in cars:
  if x =="range rover":
    continue
  print(x)

bugati
enova

to loop that the number of specificed number of items we can use for the range function

In [ ]:
for x in range(7):
  print(x)

0
1
2
3
4
5
6

In [ ]:
for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

 else keyword in a for loop it mentions a block of code to be executed when the loop is finished

In [ ]:
for x in range(10):
  print(x)
else:
  print ("finally finished!")

0
1
2
3
4
5
6
7
8
9
finally finished!

in else now iam using break statement for break the loop

In [ ]:
for x in range(6):
  if x==3:
    break
  print(x)
else:
  print("finally finished!")

0
1
2

iam using string in for loop to count the vowels in the given text

In [ ]:
text="aeroplane"
vowels="aeiouAEIOU"
count=0
for char in text:
  if char in vowels:
    count += 1
    print("vowel count:",count)

vowel count: 1
vowel count: 2
vowel count: 3
vowel count: 4
vowel count: 5

now iam using tuple in for loop to store the item

In [ ]:
t = (10, 20, 30, 40)
for item in t:
    print(item)

10
20
30
40

now iam using list in loop to store  the multiple item in one variable

In [ ]:
numbers = [5, 11, 15]
total = 0
for num in numbers:
    total += num
print("Sum:", total)

Sum: 31

with the while loop we can execute set of statements in long conditions

In [ ]:
i=2
while i<6:
  print (i)
  i +=1

2
3
4
5

now iam printing the factorial in a while loop

In [ ]:
num = 10
result = 1
while num > 0:
    result *= num
    num -= 1
print("Factorial:", result)

Factorial: 3628800

now iam printing the starcode by using the while loop

In [ ]:
i = 1
while i <= 5:
    print("*" * i)
    i += 1

*
**
***
****
*****

printing the digits of a number

In [ ]:
num = 543
while num > 0:
    digit = num % 10
    print(digit)
    num //= 10

3
4
5

so now iam using the else statement the condition will no longer true

In [ ]:
i=1
while i<6:
  i =+1
  print()

loop control statements
break statement it exists current loop even if condition is true

In [ ]:
i = 1
while i <= 10:
    if i == 5:
        break
    print(i)
    i += 1

1
2
3
4

continue statement stops current iteration and continues next statement

In [ ]:
i = 0
while i < 10:
    i += 1
    if i == 7:
        continue
    print(i)

1
2
3
4
5
6
8
9
10

now iam skipping the vowls in a string by using the continue statement

In [ ]:
s = "hello WORD"
for char in s:
    if char in "aeiouAEIOU":
        continue
    print(char, end="")

hll WRD

loop with else in python in this we can use for,while

In [ ]:
for i in range(5):
    print(i)
else:
    print("Loop finished successfully!")

0
1
2
3
4
Loop finished successfully!

nested loops we are going to print the star code by using for

In [ ]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

now iam printing the inverted triangle by using the negative value then only it gives the reverse order

In [ ]:
for i in range(10, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

**********
*********
********
*******
******
*****
****
***
**
*

now iam printing the multiplication table

In [ ]:
for i in range(1, 3):
    print(f"{i}")
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")

1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

FUNCTIONS

creating a function using def

In [ ]:
def my_function():
  print("Hi how are you")

my_function()

Hi how are you

now iam writing retur value in function by using return

In [ ]:
def add(a, b):
    return a + b
result = add("bike","car")
print(result)

bikecar

positional arguments

In [ ]:
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")

greet("Akhil", 20)

Hello Akhil, you are 20 years old.

if we  give default values that are used if no argument is passed

In [ ]:
def greet(name, age=18):
    print(f"helo {name}, you are {age} years old.")

greet("Akhil")
greet("akhil","20")

helo Akhil, you are 18 years old.
helo akhil, you are 20 years old.

you will the name of argument so order doesnt matter keyword

In [ ]:
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")
greet(age=20, name="Akhil")

Hello Akhil, you are 20 years old.

args we use for multiple variable number of arguments

In [ ]:
def add(*numbers):
    total = 0
    for num in numbers:
        total += num
    print("Sum:", total)
add(1, 2, 3, 4)

Sum: 10

In [ ]:
def show_kwargs(**kwargs):
    print( kwargs)

show_kwargs(name="Akhil", age=20)

{'name': 'Akhil', 'age': 20}

a variable declared all functions at outside and access all the functions

In [ ]:
x = 10
def show():
    print("Inside function:", x)
show()
print("Outside function:", x)

Inside function: 10
Outside function: 10

a variable declares inside the function

In [ ]:
def show():
    y = 5
    print("Inside function:", y)
show()

Inside function: 5

if you want to modify variable in global function you must use global

In [ ]:
z = 100
def change():
    global z
    z = z + 50
    print("Inside function:", z)
change()
print("Outside function:", z)

Inside function: 150
Outside function: 150

a lamba function can take any number of arguments

In [ ]:
add = lambda x, y: x + y
print(add(5, 3))

8

applies a every function to the every item iterable

In [ ]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16]

filter elements based on the function

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)

[2, 4, 6]